<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="/imgs/1024px-Spotify_logo_without_text.svg.png"/>
    <title>Spotify Data Visualization</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/496eae3b89.js"></script>
  </head>
  <body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <a href="/home"><img src="/imgs/1024px-Spotify_logo_without_text.svg.png" alt="logo"></a>
            </div>

            <ul class="list-unstyled components">

                <li class="navv_home active">
                    <a href="/home">
                        <i class="fas fa-user-alt"></i>
                        Profile
                    </a>
                </li>
                <li class="navv_tracks">
                    <a href="/topTracks">
                        <i class="fas fa-music"></i>
                        Top tracks
                    </a>
                </li>
                <li class="navv_artists">
                    <a href="/topArtists">
                        <i class="fas fa-microphone"></i>
                        Top artists
                    </a>
                </li>

            </ul>

            <div class="sidebar-footer">
                <a href="/home"><i style="font-size: 50px;" class="fab fa-github"></i></a>
            </div>

        </nav>

        <!-- Page Content  -->
        <div id="content">
