body {
    min-height: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: rgb(24, 24, 24);
    color: rgb(255, 255, 255);
}

/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.mobile_nav {
    display: none;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #040306;
    color: #9b9b9b;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 90px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 30px 10px;
    text-align: center;
    font-size: 11px;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.6em;
    font-weight: 700;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar .sidebar-header img {
    width: 35px;
}

#sidebar ul.components {
    padding: 50px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #fff;
    background: rgb(24, 24, 24);
    border-left: 5px solid rgb(30, 215, 96);
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: rgb(24, 24, 24);
    border-left: 5px solid rgb(30, 215, 96);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding-top: 91px;
    min-height: 100vh;
    transition: all 0.3s;
}

.profile-pic {
    width: 200px;
    margin-top: 50px;
    border-radius: 100%;
}

.profile-name {
    font-size: 30px;
    font-weight: 700;
    margin: 20px 0px 0px;
}

ul#stats li {
    display: inline;
    margin: 5px;
}

ul#stats {
    display: inline;
    padding: 10px;
}

.grey_text {
    color: rgb(155, 155, 155);
    font-weight: 100;
}

.white_text {
    color: white;
    font-weight: 900;
}

.green_text {
    color: rgb(29, 185, 84);
    font-weight: 900;
}

.profile-btn {
    background-color: transparent;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    border-radius: 30px;
    padding: 12px 30px;
    cursor: pointer;
}

.profile-btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(155, 155, 155);
    margin-top: 30px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    border-radius: 30px;
    padding: 12px 30px;
    cursor: pointer;
}

.login_btn {
    background-color: rgb(29, 185, 84);
    color: rgb(255, 255, 255);
    margin-top: 30px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border-image: initial;
    border-radius: 30px;
    padding: 15px 30px;
    cursor: pointer;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (min-width: 300px) and (max-width: 700px) {
    .content {
        margin-bottom: 10%;
    }

    #content {
        padding-top: 0px;
    }

    #sidebar {
        display: none;
    }

    .profile-pic {
        width: 150px;
        margin-top: 50px;
        border-radius: 100%;
    }

    .profile-name {
        font-size: 45px;
        font-weight: 700;
        margin: 20px 0px 0px;
    }

    .profile-id {
        font-size: x-large;
    }

    .profile-btn {
        border-radius: 0;
        font-weight: 100;
        font-size: 14px;
    }

    .app-footer {
        color: #9b9b9b;
        font-family: sans-serif;
        margin-top: 150px;
        font-size: 35px;
        text-align: center;

    }

    #stats {
        padding: 0px;
        width: 200px;
        font-size: 13px;
    }

    .phone_view {
        text-align: left;
    }

    .profile-btn:hover {
        cursor: pointer;
    }

    .mobile_nav {
        display: initial;
    }
}